{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center login-box">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>
                
                <input type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        
    </div>
</div>
{% endblock %}